* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: none;
}

:root {
    --background-gradient: linear-gradient(hsl(0, 0%, 23%), hsl(0, 0%, 11%), hsl(90, 2%, 22%));
    --mobile-searchbar-radius: 2rem;
}

footer {
    background-color: #00646b;
}

/*Attempt at mobile*/
@media (min-width: 300px) and (min-height: 500px){

    .main-background {
        background: var(--background-gradient);
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .mobile-section__nav-bar {
        background: hsl(0, 0%, 11%);
        width: auto;
        height: 100svh;
        position: sticky;
    }


    .nav-bar__links {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        list-style-type: none;
    }

    .nav-bar__button {
        padding: .5rem;
    }

    .nav-bar__button .nav-bar__icon {
        width: 70%;
        height: 70%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .mobile-section__header {
        padding: 5rem;
    }

    .mobile-section__text--color--alignment {
        color: hsl(0, 0%, 91%);
        text-align: center;
        font-size: .8rem;
        padding: .1rem;
    }
    
    .mobile-section__search-bar--container {
        padding: .9rem;
        display: flex;
        justify-content: center;
    }

    .mobile-section__search-bar--container input {
        background: transparent;
        height: 2rem;
        border-top-right-radius: var(--mobile-searchbar-radius);
        border-bottom-right-radius: var(--mobile-searchbar-radius);
        border: 1px solid white;
        color: white;
        padding: 1rem;
    }

    .mobile-section__search--icon {
        background-color: hsl(248, 18%, 9%);
        border: 1px solid white;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        border: none;
        padding: .2rem;
    }

    .mobile-card__container {
        padding: 2rem;
        height: 50vh;
        white-space: nowrap; /* Prevents wrapping of inline-block elements */
        overflow-x: auto;
    }
    
    .mobile-card {
        display: inline-block;
        border-radius: 2rem;
        background: linear-gradient(to top, hsl(0, 0%, 9%), hsla(0, 3%, 27%, 0.822));
        height: 100%;
        /* Adjust the width of each card */
        width: 65%; 
        box-sizing: border-box;
        margin-top: 5%;
        /* Adjust the margin between cards */
        margin-right: 1rem;
        overflow-y: none;
    }

    .mobile-card__image {
        display: block;
        position: relative;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .main-heading {
        padding: 1.6rem;
        color: rgba(230, 230, 230, 0.87);
        text-align: center;
    }

    .main-heading .main-heading_text{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
    }

    .footer {
        display: none;
    }
    
}
