* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background-gradient: linear-gradient(hsl(0, 0%, 36%), hsl(0, 0%, 14%));
    --mobile-searchbar-radius: 2rem;
}

footer {
    background-color: #00646b;
}

/*Attempt at mobile*/
@media (min-width: 300px) {

    .main-background {
        border: 2px solid red;
        padding: .5em;
        background: var(--background-gradient);
        background-repeat: no-repeat;
    }

    .mobile-section__nav-bar {
        border: 2px solid green;
    }

    .nav-bar__links {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        list-style-type: none;
    }

    .nav-bar__button {
        padding: .5rem;
    }

    .nav-bar__button .nav-bar__icon {
        width: 70%;
        height: 70%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }


    .mobile-section__text--color--alignment {
        color: hsl(0, 0%, 91%);
        text-align: center;
        font-size: .8rem;
    }
    
    .mobile-section__search-bar--container {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
    }

    .mobile-section__search-bar--container input {
        background: transparent;
        height: 2rem;
        border-top-right-radius: var(--mobile-searchbar-radius);
        border-bottom-right-radius: var(--mobile-searchbar-radius);
        border: 1px solid white;
        color: white;
        padding: 1rem;
    }

    .mobile-section__border {
        border: 2px solid green;
    }

    .mobile-section__search--icon {
        background-color: hsl(0, 0%, 19%);
        border: 1px solid white;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        border: none;
        padding: .2rem;
    }
}
